.middle-div {
    width: 100% !important; /* ширина нужна, только если блок плавающий (float) */
    text-align: center; /* обязательно делаем выравнивание по центру */
    float: left; /* в данном примере float нужен чтобы высота блока была с учетом плавающего содержимого */
}
.middle-ul {
    display: table; /* элемент типа таблицы имеет ширину, зависящую от содержимого */
    width: auto; /* для уверенности что ширина будет зависеть от содержимого*/
    margin: 0 auto; /* устанавливаем отступ слева и справа в auto */
    list-style: none;
}